[Unit]
Description=Posts Pool Server Service
After=network.target

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/kstnws/kstnws_pps
ExecStart=sh -c "/home/debian/kstnws/kstnws_pps/pps"
Restart=always
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
